@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Itim&family=Roboto:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Balsamiq Sans", cursive;
}

#particles-js {
  height: 100vh;
  width: 100vw;
  background: black;
}

.center {
  position: absolute;
  margin-top: 20%;
  margin-left: 30%;
}

.heading-name {
  font-size: 8vh;
}

.sub-header {
  font-size: 3vh;
}

.heading-btn {
  margin-left: 35%;
  margin-top: 1rem;
  height: 3rem;
  width: 14rem;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.7vh;
}

.nav-home {
  font-size: 2rem;
  margin-left: 1rem;
  font-weight: bold;
}

.nav-edits {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.edit-about {
  margin-top: 10%;
  margin-left: 3%;
  margin-right: 3%;
}
.about-title {
  font-size: 6vh;
}

.about-details {
  font-size: 2vh;
}

.avatar {
  border-radius: 50%;
}

.about-back {
  height: 100vh;
  width: 100vw;
}

a :hover {
  background-color: turquoise;
}

.portfolio-head {
  font-size: 8vh;
  margin-top: 1.5rem;
}

.project-title {
  font-size: 3.5vh;
}

.tech-border {
  border-bottom: 1px solid #fcfdfd;
}

.column-margin {
  margin-left: 2rem;
}

.project-2 {
  margin-top: 7rem;
  margin-bottom: 5rem;
}

.project-image {
  height: 400px;
  width: 700px;
}
